* {
    font-size: Lato;
}
nav-lowerx  {
    background-color: #047e6b;
}
.banner
{
  background-image: url(img/background.png);
  min-height:700px;
background-size: cover;
    margin-top: -88px;
}
.text00{
    margin-top: -20px;
    font-size:51px;
    font-family: 'Open Sans';
    font-weight: bold;
    color: white;
}
.text-align-00{
    margin-top: 100px;
}
.text11{
    color: #939393;
    font-size: 32px;
    margin: 12px 12px 25px;
    font-family: 'Cambria Math';
}
.logo-size  {
    width: 155px;
    padding: 31px;
}
.btnx {
padding: 3px 92px 5px 92px;
    border: 4px solid;
    color: #f71342;
    font-size: 20px;
}
.btnm {
padding: 3px 92px 5px 92px;
    border: 4px solid;
    color: #ffffff;
    font-size: 20px;
}
.backpink{
   background-color: #f71342;
    padding-bottom: 20px;
    padding-top: 20px;
}
/* Gallery project */
.wrapper {
  width: 100%;
  position: relative;
  background-color: #fff;
}
.wrapper:after {
  padding-top: 42.85714285714287%;
  display: block;
  content: '';
}
.wrapper .column {
  position: absolute;
  left: 0;
  top: 0;
  width: 14.2857142857142857%;
  float: left;
  padding: 6px;
  box-sizing: border-box;
}
.wrapper .column .inner {
  width: 100%;
  position: relative;
}
.wrapper .column .inner:after {
  padding-top: 100%;
  /* ratio 1:1 */
  display: block;
  content: '';
}
.wrapper .column .inner:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.4);
}
.wrapper .column .inner:hover:before {
  background-color: rgba(0, 0, 0, 0);
}
.wrapper .column:nth-child(1) {
  width: 28.5714285714285714%;
}
.wrapper .column:nth-child(2) {
  left: 28.5714285714285714%;
}
.wrapper .column:nth-child(3) {
  left: 28.5714285714285714%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.wrapper .column:nth-child(4) {
  width: 28.5714285714285714%;
  left: 42.85714285714286%;
  top: 0;
}
.wrapper .column:nth-child(4) .inner:after {
  padding-top: 48.7%;
}
.wrapper .column:nth-child(5) {
  left: 71.42857142857143%;
  top: 0;
}
.wrapper .column:nth-child(6) {
  left: auto;
  right: 0;
  top: 0;
}
.wrapper .column:nth-child(7) {
  left: 71.42857142857143%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.wrapper .column:nth-child(8) {
  left: auto;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.wrapper .column:nth-child(9) {
  width: 28.5714285714285714%;
  top: auto;
  left: 0;
  bottom: 0;
}
.wrapper .column:nth-child(9) .inner:after {
  padding-top: 48.7%;
}
.wrapper .column:nth-child(10) {
  left: 28.5714285714285714%;
  top: auto;
  bottom: 0;
}
.wrapper .column:nth-child(11) {
  left: 42.85714285714286%;
  top: auto;
  bottom: 0;
  width: 28.5714285714285714%;
}
.wrapper .column:nth-child(12) {
  left: auto;
  top: auto;
  bottom: 0;
  right: 0;
  width: 28.5714285714285714%;
}
.wrapper .column:nth-child(12) .inner:after {
  padding-top: 48.7%;
}
/* BEAUTY */

.wrapper .column .inner {
  background-size: cover;
  background-position: center;
}
.wrapper .column:nth-child(1) .inner {
  background-image: url('img/album.jpg');
}
.wrapper .column:nth-child(2) .inner {
  background-image: url('img/Buku-contest-Jadi.jpg');
}
.wrapper .column:nth-child(3) .inner {
  background-image: url('img/CD-ALBUM-ISENG-WEH.jpg');
}
.wrapper .column:nth-child(4) .inner {
  background-image: url('img/coverbuku.jpg');
}
.wrapper .column:nth-child(5) .inner {
  background-image: url('img/coffe-bean-desain-1.jpg');
}
.wrapper .column:nth-child(6) .inner {
  background-image: url('img/coffe-bean-desain-2d.jpg');
}
.wrapper .column:nth-child(7) .inner {
  background-image: url('img/coffe-bean-desain-belakang.jpg');
}
.wrapper .column:nth-child(8) .inner {
  background-image: url('img/cover-album-bad-habbit.jpg');
}
.wrapper .column:nth-child(9) .inner {
  background-image: url('img/images.jpg');
}
.wrapper .column:nth-child(10) .inner {
  background-image: url('img/the-solar.jpg');
}
.wrapper .column:nth-child(11) .inner {
  background-image: url('img/twogether.jpg');
}
.wrapper .column:nth-child(12) .inner {
  background-image: url('img/the-solar-space.jpg');

}






/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #c50f35;
}
.social-network a.icoFacebook:hover {
	background-color:#c50f35;
}
.social-network a.icoTwitter:hover {
	background-color:#c50f35;
}
.social-network a.icoGoogle:hover {
	background-color:#c50f35;
}
.social-network a.icoVimeo:hover {
	background-color:#c50f35;
}
.social-network a.icoLinkedin:hover {
	background-color:#c50f35;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
    background-color: #f71342;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
.footer {
        background-color: #101f35;
    }
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
   
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
    
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #c50f35;
}
.social-network a.icoFacebook:hover {
	background-color:#c50f35;
}
.social-network a.icoTwitter:hover {
	background-color:#c50f35;
}
.social-network a.icoGoogle:hover {
	background-color:#c50f35;
}
.social-network a.icoVimeo:hover {
	background-color:#c50f35;
}
.social-network a.icoLinkedin:hover {
	background-color:#c50f35;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
    background-color: #f71342;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.opaque-navbar {
    background-color: rgba(0, 0, 0, 0);
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
    
}

.opaque-navbar.opaque {
    background-color: #101f35;
    height: 60px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: #fafafa;
}
.boxwi {
    padding-bottom: 50px;
    padding-top: 0px;
}
.banner-about
{
  background-image: url(img/background-about.png);
  min-height:700px;
    background-size: cover;
    margin-top: -200;
}
 /*about*/
    
.text-about {
    color: white;
    font-size: 91px;
    font-family: 'Lato';
    font-weight: bold;
    text-align: center;
        
    } 
.text-about-lorem {
    text-align: center ;
    color: white;
    font-size: 21px;
    font-weight: normal;
}
#background-op {
    background-image: url(img/op.png);
    background-size: cover;
    
}
#background-brand {
    background-color: #785134;
    background-size: cover;
    
}
#background-alb {
    background-color: #e0e0e0;
    background-size: cover;
    
}
#background-cov {
    background-color: #a5ccd6;
    background-size: cover;
    
}
#background-n {
    background-image: url(img/vehicle-customisation-company-brand-design-by-ivory-branding-agency-1.jpg);
    background-size: cover;
    
}
.kotak-text-bout {
    padding: 147px 10px 0px 42px;
}
.title-text-bout {
    font-weight: 700;
    font-size: 42px;
}
.content-text-bout {
    padding: 12px 123px 35px 0px;
    font-family: 'lato';
    color: #767676;
    font-size: 22px;
}
hr {
    width: 200px;
    border: 3px solid;
    color: #f71342;
    margin-left: 2px;
}
.xxx-si {
    margin-top: -22px;
}
.text-s2 {
    font-size: 22px;
    color: #7b7b7b;
}