body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(201, 165, 0);
}
#blue{
    height: 4440px;
    width: 100%;
    background-image: url(../img/webold/page.png);
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#white {
     height: 5900px;
    width: 100%;
    background-image: url(../img/neweb/new.png);
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.nav-ex{
    background-image: url(../img/webold/nav.png);
    min-height:  110px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.nav-ex-2{
    background-image: url(../img/neweb/nav.png);
    min-height:  110px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.header-presen-1 {
    background-color: #ffffff;
}
.upper-yard {
    margin-top: 72px;
    padding-bottom: 200px;
}

.title-h1 {
    margin:  0 auto;
    color: #ffffff;
}
.title-4 {
    font-weight: 700;
    font-size: 18px;
    margin-top: 26px;
    color: #434343;
}
canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
	background: $background
}
.upp-part {
    margin-top: 2px;
}
.title-content-1 {
    font-size: 20px;
    font-weight: 800;
    color: #393939;
}
.title-content-2 {
    font-size: 20px;
    font-weight: 500;
    color: #393939;
}
.text-content-1 {
    font-size: 20px;
    color: #939393;

}
.text-content-2 {
    font-size: 28px;
    color: #939393;

}
.media-title-1 {
    font-size: 20px;
    font-weight: 600;
    color: #414141;
}

.media-social  {
    
    margin-left: -10px;
    padding-bottom: 20px;
}
.contentsocial{
     letter-spacing: 2px;
}


li {
    float: left;
}

li a {
    display: block;
    padding: 0px 12px 0px 12px;
    color: #9d9d9d;
    text-align: center;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #000000;
}

.active {
    background-color: #4CAF50;
}
.low-title {
    color: #767676;
    font-weight: 500;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-dotted .slick-current img {
  transform: scale(1.1);
}

.sliderx {
    max-height: 400px;
 
}
.color-copied {
    background-color: #FFE600;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    
}
.color-copied-1 {
    background-color:#F7F760;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    
}
.color-copied-2 {
    background-color: #002F4B;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    
}
.color-copied-3 {
    background-color: #7cff37;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    
}
.icon-color {
    font-size: 50px;
    color: rgb(255, 255, 255);
    padding: 22px;
    opacity: 0;
    transition: 0.5s;
}
.hovertext:hover .icon-color{
  opacity: 1;
}
.hovertext:hover  .copy-color {
  opacity: 1;
}
.hovertext:hover .code-color {
    opacity: 0;
}
.code-color {
    letter-spacing: 2px;
    font-size: 19px;
    color: #454545;
    font-weight: 600;
    transition: 0.5s;
}
.copy-color {
    font-weight: 600;
    color: #292929;
    font-size: 19px;
    margin-top: -30px;
    opacity: 0;
    transition: 0.9s;
}

.card-panel-x {
    -webkit-box-shadow: 0px 14px 9px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 14px 9px -7px rgba(0,0,0,0.75);
box-shadow: 0px 14px 9px -7px rgba(0,0,0,0.75);
}
.card-xx {
    padding-bottom: 60px;
}
.media-social {
    list-style-type: none;
}
.g-li {
    float: none;
    font-size: 18px;
    letter-spacing: 0.04em;
    color: #717171;
}
.list-goals {
    list-style-type: lower-greek;
}
.center-x {
    padding-left: 100px;
    padding-right: 1000px;
}
.head-title-design {
    font-weight: 600;
    margin-top: 40px;
     margin-bottom: 40px;
    font-size: 40px;
}
.usr-rv{
    padding-left: 20px;
    color: #b2b2b2;
    font-size: 30px;
}
.pin-top {
    position: relative;
  }
ps-n {
    position: inherit;
}

  .pin-bottom {
    position: relative;
  }


  .pinned {
    position: fixed;
    max-width: 88.4%;
    height: 90px;
   
  }
.jarak {
    margin-top: 42px;
}
.line {
    width: 800px;
    margin: 0 auto;
    height: 3px;
    background-color: #9d9d9d;
    position: relative;
    
}
.buled {
    display: inline-block;
    width: 11px;
    height: 11px;
    position: absolute;
    background-color: #191919;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 100%;
    top:-4px;
}
.buled1 {
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: #191919;
    right: 0;
    margin: 0 auto;
    border-radius: 100%;
    top:-4px;
}
.buled2 {
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: #191919;
    left: 0;
    margin: 0 auto;
    border-radius: 100%;
    top:-4px;
}
@media only screen and (min-width: 1024px) {
   .pinned {
    position: fixed;
    max-width: 88.4%;
  }
}
