body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(201, 165, 0);
}
.header-presen-1 {
    background-color: #ebebeb;
}
.upper-yard {
    margin-top: 42px;
    padding-bottom: 100px;
}
.title-h1 {
    margin:  0 auto;
    width: 700px;
    color: #ffffff;
}
.title-4 {
    font-weight: 700;
    font-size: 18px;
    margin-top: 26px;
    color: #434343;
}
canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
	background: $background
}
.upp-part {
    margin-top: 2px;
}
.title-content-1 {
    font-size: 20px;
    font-weight: 800;
    color: #393939;
}
.title-content-2 {
    font-size: 20px;
    font-weight: 500;
    color: #393939;
}
.text-content-1 {
    font-size: 20px;
    color: #939393;

}
.text-content-2 {
    font-size: 28px;
    color: #939393;

}
.media-title-1 {
    font-size: 20px;
    font-weight: 600;
    color: #414141;
}

.media-social  {
    
    margin-left: -10px;
    padding-bottom: 20px;
}
.contentsocial{
     letter-spacing: 2px;
}


li {
    float: left;
}

li a {
    display: block;
    padding: 0px 12px 0px 12px;
    color: #9d9d9d;
    text-align: center;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #000000;
}

.active {
    background-color: #4CAF50;
}
.low-title {
    color: #767676;
    font-weight: 500;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-dotted .slick-current img {
  transform: scale(1.1);
}

.sliderx {
    max-height: 400px;
 
}
.color-copied {
    background-color: #FFE600;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    
}
.color-copied-1 {
    background-color:#F7F760;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    
}
.color-copied-2 {
    background-color: #002F4B;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    
}
.color-copied-3 {
    background-color: #7cff37;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    
}
.icon-color {
    font-size: 50px;
    color: rgb(255, 255, 255);
    padding: 22px;
    opacity: 0;
    transition: 0.5s;
}
.hovertext:hover .icon-color{
  opacity: 1;
}
.hovertext:hover  .copy-color {
  opacity: 1;
}
.hovertext:hover .code-color {
    opacity: 0;
}
.code-color {
    letter-spacing: 2px;
    font-size: 19px;
    color: #454545;
    font-weight: 600;
    transition: 0.5s;
}
.copy-color {
    font-weight: 600;
    color: #292929;
    font-size: 19px;
    margin-top: -30px;
    opacity: 0;
    transition: 0.9s;
}

.card-panel-x {
    -webkit-box-shadow: 0px 14px 9px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 14px 9px -7px rgba(0,0,0,0.75);
box-shadow: 0px 14px 9px -7px rgba(0,0,0,0.75);
}
.card-xx {
    padding-bottom: 60px;
}
.g-li {
    float: none;
    font-size: 18px;
    letter-spacing: 0.04em;
    color: #717171;
}
.list-goals {
    list-style-type: lower-greek;
}